.loader {
	margin: auto;
	border: 2px dotted var(--bs-primary);
	border-top: 2px solid var(--bs-primary);
	border-radius: 50%;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	width: 25px;
	height: 25px;
}

.img-close-modal {
	width: 20px;
	cursor: pointer;
}

.modal-alert .btn-close {
	display: none;
}

.modal-content {
	padding: 1rem;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
