.navbar-wallet-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 25px;
}

.navbar-wallet-btn-img {
	width: 15px;
	margin-left: 20px;
}

.navbar-text {
	display: flex;
	font-weight: 600;
	color: white;
	padding: 0px;
}

.navbar-logo-gamium {
	height: 15px;
	cursor: pointer;
}

.nav-bar-logo {
	width: 100%;
	height: 25px;
}

.navbar-container {
	z-index: 1;
	background-color: #000000;
	padding-bottom: 17.5px;
	padding-top: 17.5px;
	padding-right: 25px;
	padding-left: 25px;
	height: 60px;
	-webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
}

.navbar-line-wpr {
	width: 100%;
	height: 25px;
}

.navbar-logo-container {
	display: flex;
	align-items: center;
	min-width: 275px;
}

.navbar-link-no-padding {
	padding-left: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.ml-10 {
	margin-left: 10px;
}
