
$purple: #471E96;
$primary: $purple;
$secondary: $white;
$red: #B24061;
$green: #40B574;
$cyan: #8836F2;
$link-color: theme-color("info");
$link-hover-decoration: none;
$body-bg: $black;
$font-family-sans-serif: "Raleway";
$body-color: $white;
$border-radius: 0.15rem;
$border-radius-lg: 0.15rem;
$border-radius-sm: 0.15rem;
$btn-font-weight: $font-weight-bold;
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.1rem;
$headings-font-weight: 700;
$gray-900: #1F1C27;
$input-group-addon-bg: $gray-900;
$input-group-addon-border-color: $gray-900;
$input-bg: $gray-900;
$input-border-color: $gray-900;
$gray-800: #242326;
$pagination-bg: #242326;
$pagination-border-color: #242326;
$pagination-disabled-bg: $gray-800;
$pagination-hover-color: $white;
$pagination-hover-border-color: $purple;
$pagination-disabled-border-color: $gray-800;
$pagination-hover-bg: $purple;
$pagination-disabled-color: $white;
$input-focus-color: $white;